<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404172957296-3dpt2d18andv0hqqgqh2nht9ev13lcpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404172957296-3dpt2d18andv0hqqgqh2nht9ev13lcpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBf3TPolmd9O3OLHmUod6prE7bNKGcJnKU</string>
	<key>GCM_SENDER_ID</key>
	<string>404172957296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.register</string>
	<key>PROJECT_ID</key>
	<string>screens-b97ca</string>
	<key>STORAGE_BUCKET</key>
	<string>screens-b97ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404172957296:ios:1baf7e8ae6fd1fdf85b6b5</string>
</dict>
</plist>